# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

apps/*/supabase
# .claude, will be available eventually 
.claude/

# mcp.json
.mcp.json

# Environment variables
.env
.env*.local
.docker.env.local

# Supabase
.supabase/.branches/**
.supabase/.temp/**
supabase/.temp/

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Playwright
test-results/
playwright-report/
playwright/.auth/

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem

# IDE
.vscode
# Playwright
apps/web/test-results/
